<div class="container" ng-controller="HeaderController" data-ng-init="initHeader()">
    <div class="top-header">
        <button class="btn btn-sm btn-default"><i class="fa fa-search"></i> SEARCH</button>

        <div class="btn-group pull-right">
            <button class="btn btn-sm btn-primary" ng-show="!authenticated">LOG IN</button>
            <button class="btn btn-sm btn-primary" ng-show="authenticated">{{ user.username }}</button>
            <button class="btn btn-sm btn-default"><i class="fa fa-cog"></i></button>
        </div>
        <div class="clearfix"></div>
    </div>
    <div class="location-header">
        <ul class="location-header-list">
            <li>
                The news aggregator
            </li>
        </ul>
    </div>
    <div class="title-header">
        <a href="/#!/" style="text-decoration : none ; color : black">the fews</a>
    </div>
    <div class="details-header">
        {{ today | date: 'fullDate' }} | World | Work in progress
    </div>
    <div class="categories-header">
        <a class="btn btn-xsm btn-default borderless"
           data-ng-repeat="category in categories.data"
           data-ng-bind="category.name"
           data-ng-href="/#!/category/{{ category.id }}"></a>
    </div>
</div>