<section data-ng-controller="ArticlesViewController" data-ng-init="findOne()">
    <div class="page-header">
        <h2 style="border-bottom: 1px solid lightgray; margin-bottom: 0px" data-ng-bind="article.title"></h2>
        <small>
            <em class="text-muted">
                Posted on
                <span data-ng-bind="article.publicationDate | date:'mediumDate'"></span>
                by
                <span data-ng-bind="article.feed.publication.name"></span>
            </em>
        </small>
    </div>
    <div class="row">
        <div class="col-md-9">
            <img ng-src="{{ article.image }}" class="pure-img article-detail-image"/>
            <p class="article-detail-content lead" data-ng-bind-html="article.content"></p>
        </div>
        <div class="col-md-3" style="font-size: 13px">
            <b>Popularity index: </b> {{ article.value * 10 | number : 2 }}
            <br />
            <a href="{{ article.link }}">Source</a>

            <h3>Similar news</h3>
            <ul class="trending-list">
                <li data-ng-repeat="article in similarArticles.data | orderBy:'value':true">
                    <b>{{ article.value * 10 | number : 2 }}</b>
                    <a href="/#!/articles/{{ article.id }}">
                        {{ article.title }}
                    </a>
                </li>
            </ul>
            <div data-ng-if="!similarArticles.$resolved">
                Loading...
            </div>
        </div>
    </div>
</section>
