<section>
    <md-tabs md-dynamic-height md-border-bottom>
        <md-tab label="recente">
            <md-content md-scroll-y class="md-padding">
                <div layout="row" layout-sm="column" layout-align="space-around" ng-show="vm.loading">
                    <md-progress-circular md-mode="indeterminate"></md-progress-circular>
                </div>
                <md-card ng-repeat="article in vm.articles.data">
                    <md-content layout="row">
                        <img ng-src="{{article.image}}" ng-show="article.image != ''"
                             class="md-card-image" alt="Article image" style="width: 100%; height: 100%" flex="20">
                        <md-card-content>
                            <h2 class="md-title">{{ article.title }}</h2>
                            <p>
                                {{ article.content | limitTo: 512 }}
                            </p>
                        </md-card-content>
                    </md-content>
                    <div class="md-actions" layout="row" layout-align="end center">
                        <p class="md-button md-primary">Popularitate: {{ article.value * 10 | number : 2 }}</p>
                        <md-button ui-sref="detail({articleId: article.id})">Detalii</md-button>
                        <md-button href="{{article.link}}" target="_blank">Sursa</md-button>
                    </div>
                </md-card>
            </md-content>
        </md-tab>
        <md-tab label="populare">
            <md-content class="md-padding">
                <div layout="row" layout-sm="column" layout-align="space-around" ng-show="vm.loading">
                    <md-progress-circular md-mode="indeterminate"></md-progress-circular>
                </div>
                <md-card ng-repeat="article in vm.popularArticles.data">
                    <md-content layout="row">
                        <img ng-src="{{article.image}}" ng-show="article.image != ''"
                             class="md-card-image" alt="Article image" style="width: 100%; height: 100%" flex="20">
                        <md-card-content>
                            <h2 class="md-title">{{ article.title }}</h2>
                            <p>
                                {{ article.content | limitTo: 512 }}
                            </p>
                        </md-card-content>
                    </md-content>
                    <div class="md-actions" layout="row" layout-align="end center">
                        <p class="md-button md-primary">Popularitate: {{ article.value * 10 | number : 2 }}</p>
                        <md-button ui-sref="detail({articleId: article.id})">Detalii</md-button>
                        <md-button href="{{article.link}}" target="_blank">Sursa</md-button>
                    </div>
                </md-card>
            </md-content>
        </md-tab>
        <md-tab label="recomandate">
            <md-content class="md-padding">
                <div layout="row" layout-sm="column" layout-align="space-around" ng-show="vm.loading">
                    <md-progress-circular md-mode="indeterminate"></md-progress-circular>
                </div>
                <md-card ng-repeat="article in vm.recommendedArticles.data">
                    <md-content layout="row">
                        <img ng-src="{{article.image}}" ng-show="article.image != ''"
                             class="md-card-image" alt="Article image" style="width: 100%; height: 100%" flex="20">
                        <md-card-content>
                            <h2 class="md-title">{{ article.title }}</h2>
                            <p>
                                {{ article.content | limitTo: 512 }}
                            </p>
                        </md-card-content>
                    </md-content>
                    <div class="md-actions" layout="row" layout-align="end center">
                        <p class="md-button md-primary" ng-show="core.user">Recomandare: {{ article.recommendation * 10 | number : 2 }}</p>
                        <p class="md-button md-primary">Popularitate: {{ article.value * 10 | number : 2 }}</p>
                        <md-button ui-sref="detail({articleId: article.id})">Detalii</md-button>
                        <md-button href="{{article.link}}" target="_blank">Sursa</md-button>
                    </div>
                </md-card>
            </md-content>
        </md-tab>
    </md-tabs>
</section>