@()<!DOCTYPE html>
<html lang="en" >
    <head>
        <title>Angular Material - Starter App</title>

        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="description" content="">
        <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no" />

        <link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Roboto:400,500,700,400italic'>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">

        <link rel="stylesheet" href="@routes.Assets.versioned("vendor/angular-material/angular-material.css")"/>
        <link rel="stylesheet" href="@routes.Assets.versioned("ngapp/assets/app.css")"/>
    </head>

    <body ng-app="fews" layout="column" ng-controller="CoreController as core">

        <md-toolbar layout="row">
            <md-button class="menu" hide-gt-sm ng-click="core.toggleSidenav()"
                aria-label="Show User List">
                <ng-md-icon icon="menu" style="fill: white" size="36"></ng-md-icon>
            </md-button>
            <h1>Bossable Material Starter App</h1>
        </md-toolbar>

        <div flex layout="row">
            <md-sidenav md-is-locked-open="$mdMedia('gt-sm')" md-component-id="left"
                class="md-whiteframe-z2">
                <md-list-item ng-repeat="category in core.categories.data">
                    <p> {{ category.name }} </p>
                    <md-checkbox class="md-secondary" ng-model="category.wanted"></md-checkbox>
                </md-list-item>
            </md-sidenav>

            <md-content flex ui-view id="content">
            </md-content>
        </div>

        <!--<md-sidenav class="site-sidenav md-sidenav-left md-whiteframe-z2"
            md-component-id="left"
            md-is-locked-open="$mdMedia('gt-sm')">

            <md-toolbar class="md-whiteframe-z1">
                <h1>fews</h1>
            </md-toolbar>

            <md-content flex id="sidebar-content">
                <md-subheader class="md-no-sticky">Categorii</md-subheader>
                <md-list-item ng-repeat="category in core.categories.data">
                    <p> {{ category.name }} </p>
                    <md-checkbox class="md-secondary" ng-model="category.wanted"></md-checkbox>
                </md-list-item>

            </md-content>

        </md-sidenav>


        <div flex layout="column" tabIndex="-1" role="main" class="md-whiteframe-z2">

            <md-toolbar layout="row" class="md-whiteframe-z1">
                <h1>Stiri recente</h1>
            </md-toolbar>

            <md-content flex md-scroll-y ui-view id="content">
            </md-content>

        </div>-->

        <script src="@routes.Assets.versioned("vendor/angular/angular.js")"></script>
        <script src="@routes.Assets.versioned("vendor/angular-animate/angular-animate.js")"></script>
        <script src="@routes.Assets.versioned("vendor/angular-aria/angular-aria.js")"></script>
        <script type="text/javascript" src="@routes.Assets.versioned("vendor/angular-material/angular-material.js")"></script>

        <script src="@routes.Assets.versioned("vendor/angular-mocks/angular-mocks.js")"></script>
        <script src="@routes.Assets.versioned("vendor/angular-resource/angular-resource.min.js")"></script>
        <script src="@routes.Assets.versioned("vendor/angular-ui-router/release/angular-ui-router.min.js")"></script>
        <script src="@routes.Assets.versioned("vendor/angular-ui-utils/ui-utils.min.js")"></script>
        <script src="@routes.Assets.versioned("vendor/angular-cookies/angular-cookies.min.js")"></script>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-material-icons/0.4.0/angular-material-icons.min.js"></script>

        <script src="@routes.Assets.versioned("ngapp/app.module.js")"></script>
        <script src="@routes.Assets.versioned("ngapp/app.config.js")"></script>
        <script src="@routes.Assets.versioned("ngapp/app.routes.js")"></script>

        <script src="@routes.Assets.versioned("ngapp/services/auth.client.service.js")"></script>
        <script src="@routes.Assets.versioned("ngapp/services/categories.client.service.js")"></script>
        <script src="@routes.Assets.versioned("ngapp/services/articles.client.service.js")"></script>

        <script src="@routes.Assets.versioned("ngapp/controllers/core.client.controller.js")"></script>
        <script src="@routes.Assets.versioned("ngapp/controllers/auth.client.controller.js")"></script>
        <script src="@routes.Assets.versioned("ngapp/controllers/articles.list.client.controller.js")"></script>
        <script src="@routes.Assets.versioned("ngapp/controllers/articles.detail.client.controller.js")"></script>

    </body>
</html>