<section class="row" data-ng-controller="AuthenticationController">
    <div class="row">
        <div class="col-md-6">
            <form data-ng-submit="signin()" class="form-signin">
                <h2 class="form-signin-heading">authentication</h2>

                <div class="login-wrap">
                    <div class="user-login-info">
                        <div class="form-group">
                        <input type="text" class="form-control" placeholder="username" autofocus=""
                               id="email" name="email"
                               data-ng-model="credentials.username">
                            </div>
                        <div class="form-group">
                        <input type="password" class="form-control" placeholder="password"
                               id="password" name="password"
                               data-ng-model="credentials.password">
                            </div>
                    </div>
                    <div data-ng-show="error" class="text-center text-danger">
                        <strong data-ng-bind="error"></strong>
                    </div>
                    <button class="btn btn-lg btn-login btn-block" type="submit">sign in</button>
                </div>
            </form>
        </div>
        <div class="col-md-6">
            <form data-ng-submit="signup()" class="form-signup">
                <h2 class="form-signin-heading">registration</h2>

                <div class="login-wrap">
                    <div class="user-signup-info">
                        <div class="form-group">
                        <input type="text" class="form-control" placeholder="username" autofocus="" name="email"
                               data-ng-model="credentials.username">
                            </div>
                        <div class="form-group">
                        <input type="password" class="form-control" placeholder="password" name="password"
                               data-ng-model="credentials.password">
                            </div>
                        <div class="form-group">
                        <input type="password" class="form-control" placeholder="confirm password" name="password"
                               data-ng-model="credentials.password_confirmation">
                            </div>
                    </div>
                    <div data-ng-show="error" class="text-center text-danger">
                        <strong data-ng-bind="error"></strong>
                    </div>
                    <button class="btn btn-lg btn-login btn-block" type="submit">sign up</button>
                </div>
            </form>
        </div>
    </div>
</section>